xml-bindings/src/main/resources/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Some simple types -->

    <xs:simpleType name="XLogLevel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Debug"/>
            <xs:enumeration value="Comm"/>
            <xs:enumeration value="Interpret"/>
            <xs:enumeration value="Info"/>
            <xs:enumeration value="Warning"/>
            <xs:enumeration value="Error"/>
            <xs:enumeration value="Event"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="XParity">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Even"/>
            <xs:enumeration value="Odd"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="XFLowControl">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Hardware"/>
            <xs:enumeration value="XonXoff"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="XTCPChannel">
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="level" type="XLogLevel"/>
        <xs:attribute name="ip" type="xs:string" />
        <xs:attribute name="port" type="xs:int" />
        <xs:attribute name="retry" type="xs:long" />
    </xs:complexType>



    <!-- Channel type -->
    <xs:element name="XChannel">
       <xs:complexType>
           <xs:sequence>
               <xs:choice>
                   <xs:element name="XTCPClientChannel">
                       <xs:complexType>
                           <xs:complexContent>
                               <xs:extension base="XTCPChannel"/>

                           </xs:complexContent>
                       </xs:complexType>
                   </xs:element>
                   <xs:element name="XTCPServerChannel">
                       <xs:complexType>
                           <xs:complexContent>
                               <xs:extension base="XTCPChannel"/>
                           </xs:complexContent>
                       </xs:complexType>
                   </xs:element>
                   <xs:element name="XSerialChannel">
                       <xs:complexType>
                           <xs:attribute name="port" type="xs:string"/>
                           <xs:attribute name="level" type="XLogLevel"/>
                           <xs:attribute name="retry" type="xs:long"/>
                           <xs:attribute name="baud" type="xs:int" />
                           <xs:attribute name="dataBits" type="xs:int" />
                           <xs:attribute name="stopBits" type="xs:int" />
                           <xs:attribute name="parity" type="XParity" />
                           <xs:attribute name="flowControl" type="XFLowControl" />
                       </xs:complexType>
                   </xs:element>
               </xs:choice>
               <xs:element ref="XStack" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
       </xs:complexType>
    </xs:element>

    <xs:element name="XLinkLayer">
        <xs:complexType>
            <xs:attribute name="useConfirms" type="xs:boolean" />
            <xs:attribute name="isMaster" type="xs:boolean" />
            <xs:attribute name="confirmedDataRetry" type="xs:int" />
            <xs:attribute name="localAddress" type="xs:int" />
            <xs:attribute name="remoteAddress" type="xs:int" />
            <xs:attribute name="rspTimeout" type="xs:long" />
        </xs:complexType>
    </xs:element>

    <xs:element name="XAppLayer">
        <xs:complexType>
            <xs:attribute name="maxRcvFragSize" type="xs:int" />
            <xs:attribute name="retryCount" type="xs:int" />
            <xs:attribute name="rspTimeout" type="xs:long" />
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="XStaticBinary">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Group1Var2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="XStaticAnalog">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Group30Var1"/>
            <xs:enumeration value="Group30Var2"/>
            <xs:enumeration value="Group30Var3"/>
            <xs:enumeration value="Group30Var4"/>
            <xs:enumeration value="Group30Var5"/>
            <xs:enumeration value="Group30Var6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="XStaticCounter">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Group20Var1"/>
            <xs:enumeration value="Group20Var2"/>
            <xs:enumeration value="Group20Var5"/>
            <xs:enumeration value="Group20Var6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="XStaticAnalogOutputStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Group40Var1"/>
            <xs:enumeration value="Group40Var2"/>
            <xs:enumeration value="Group40Var3"/>
            <xs:enumeration value="Group40Var4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="XEventBinary">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Group2Var1"/>
            <xs:enumeration value="Group2Var2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="XEventAnalog">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Group32Var1"/>
            <xs:enumeration value="Group32Var2"/>
            <xs:enumeration value="Group32Var3"/>
            <xs:enumeration value="Group32Var4"/>
            <xs:enumeration value="Group32Var5"/>
            <xs:enumeration value="Group32Var6"/>
            <xs:enumeration value="Group32Var7"/>
            <xs:enumeration value="Group32Var8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="XEventCounter">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Group22Var1"/>
            <xs:enumeration value="Group22Var2"/>
            <xs:enumeration value="Group22Var5"/>
            <xs:enumeration value="Group22Var6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="XStackBase">
        <xs:all>
            <xs:element ref="XLinkLayer"/>
            <xs:element ref="XAppLayer"/>
        </xs:all>
    </xs:complexType>

    <xs:element name="XStack">
        <xs:complexType>
            <xs:choice>
                <xs:element name="XMasterStack" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="1">
                            <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="level" type="XLogLevel" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="plugin" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element ref="XLinkLayer" minOccurs="1" maxOccurs="1"/>
                            <xs:element ref="XAppLayer" minOccurs="1" maxOccurs="1"/>
                            <xs:element ref="XMaster" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="XOutstationStack">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="1">
                            <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="level" type="XLogLevel" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="plugin" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element ref="XLinkLayer" minOccurs="1" maxOccurs="1"/>
                            <xs:element ref="XAppLayer" minOccurs="1" maxOccurs="1"/>
                            <xs:element ref="XOutstation" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="XOutstation">
        <xs:complexType>
            <xs:attribute name="disableUnsol" type="xs:boolean" />
            <xs:attribute name="requestTimeSync" type="xs:boolean" />
            <xs:attribute name="unsolTimer" type="xs:long" />
            <xs:attribute name="staticBinary" type="XStaticBinary" />
            <xs:attribute name="staticAnalog" type="XStaticAnalog" />
            <xs:attribute name="staticCounter" type="XStaticCounter" />
            <xs:attribute name="staticAnalogOutputStatus" type="XStaticAnalogOutputStatus"/>
            <xs:attribute name="eventBinary" type="XEventBinary"/>
            <xs:attribute name="eventAnalog" type="XEventAnalog"/>
            <xs:attribute name="eventCounter" type="XEventCounter"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="XMaster">
        <xs:complexType>
            <xs:attribute name="allowTimeSync" type="xs:boolean" />
            <xs:attribute name="doUnsolEnableDisable" type="xs:boolean" />
            <xs:attribute name="enableUnsol" type="xs:boolean" />
            <xs:attribute name="unsolClassMask" type="xs:int" />
            <xs:attribute name="integrityPeriod" type="xs:long" />
            <xs:attribute name="taskRetryPeriod" type="xs:long" />
        </xs:complexType>
    </xs:element>

    <xs:element name="XSimulatorOptions">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="maxLogTableSize" type="xs:int" default="500" />
                <xs:element name="logToTable" type="xs:boolean" default="true" />
                <xs:element name="logToFile" type="xs:boolean" default="false" />
                <xs:element name="logFile" type="xs:string" default="./Simulator.log"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- the root element -->
    <xs:element name="XSimulatorConfig">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="XChannel" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="XSimulatorOptions" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>
